.dropdown-action {
  .medical-base-btn-link {
    color: #6e93d1;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    padding: 0;
    // &:active,
    // &:hover {
    // }
    &-disabled {
      cursor: not-allowed;
    }
  }
}
